This python script preprocess the data for the interaction of two signals in an optical fiber. The target variable is the energy E. There are three input files that are merged and concatenated in a single data-set. Finally, the new data-set is cleaned and explored.

In [1]:
import numpy as np
import pandas as pd

# Load the datasets

In [2]:
df1 = pd.read_csv('Data-Energy-1.dat',sep=',')
df1.head()

       B2      G  DO   Dz   P1  P2         E
0  0.0050  0.002   5  0.5  100  10  0.794660
1  0.0075  0.002   5  0.5  100  10  1.306685
2  0.0100  0.002   5  0.5  100  10  1.565490
3  0.0150  0.002   5  0.5  100  10  1.743379
4  0.0200  0.002   5  0.5  100  10  1.789472

In [3]:
df2 = pd.read_csv('Data-Energy-2-P1.dat',sep=',').drop_duplicates()
df2.head()

     B2      G  DO   Dz   P1         E
0  0.02  0.002   4  0.5  100  2.121925
1  0.02  0.002   5  0.5  100  1.789472
2  0.02  0.002   6  0.5  100  1.460797
3  0.02  0.002   7  0.5  100  1.173408
4  0.02  0.002   8  0.5  100  0.932900

In [4]:
df3 = pd.read_csv('Data-Energy-2-P2.dat',sep=',').drop_duplicates()
df3.head()

     B2      G  DO   Dz  P2         E
0  0.02  0.002   4  0.5  10  2.121925
1  0.02  0.002   5  0.5  10  1.789472
2  0.02  0.002   6  0.5  10  1.460797
3  0.02  0.002   7  0.5  10  1.173408
4  0.02  0.002   8  0.5  10  0.932900

# Merge df2 and df3

In [5]:
df23 = pd.merge(df2, df3, on=['B2','G','DO','Dz','E'])
df23.head()

     B2      G  DO   Dz   P1         E  P2
0  0.02  0.002   4  0.5  100  2.121925  10
1  0.02  0.002   5  0.5  100  1.789472  10
2  0.02  0.002   6  0.5  100  1.460797  10
3  0.02  0.002   7  0.5  100  1.173408  10
4  0.02  0.002   8  0.5  100  0.932900  10

# Concatenate df23 and df1

In [6]:
df=pd.concat([df1, df23]).reset_index(drop=True)
df.head()

       B2  DO   Dz         E      G   P1  P2
0  0.0050   5  0.5  0.794660  0.002  100  10
1  0.0075   5  0.5  1.306685  0.002  100  10
2  0.0100   5  0.5  1.565490  0.002  100  10
3  0.0150   5  0.5  1.743379  0.002  100  10
4  0.0200   5  0.5  1.789472  0.002  100  10

# Check for NANs

In [7]:
df.isnull().values.sum()

1

# Replace NANs with 0 and reorder columns

In [8]:
df = df.fillna(0).loc[:,['B2','G','DO','Dz','P1','P2','E']] #df = df.replace('?',np.nan).fillna(df.median())

# Save new data-frame

In [9]:
df.to_csv('Data-Energy.dat',index=None)

# Explore the data set

In [10]:
df.shape

(43, 7)

In [11]:
df.describe()

,B2,G,DO,Dz,P1,P2,E
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000
mean,0.019360,0.001965,5.209302,0.467442,91.627907,15.232558,1.557556
std,0.003822,0.000334,0.832613,0.110671,20.345847,13.970781,1.017889
min,0.005000,0.000500,4.000000,0.000000,20.000000,5.000000,0.000000
25%,0.020000,0.002000,5.000000,0.500000,100.000000,10.000000,0.780392
50%,0.020000,0.002000,5.000000,0.500000,100.000000,10.000000,1.460797
75%,0.020000,0.002000,5.000000,0.500000,100.000000,10.000000,2.116922
max,0.030000,0.003000,9.000000,0.600000,100.000000,70.000000,4.323701

In [12]:
df.columns.values

array(['B2', 'G', 'DO', 'Dz', 'P1', 'P2', 'E'], dtype=object)

In [13]:
np.sort(df['P1'].unique())

array([ 20,  30,  40,  50,  60,  70,  80,  90, 100])

In [14]:
df['P1'].value_counts(normalize=True)

100    0.813953
60     0.023256
50     0.023256
40     0.023256
30     0.023256
90     0.023256
20     0.023256
80     0.023256
70     0.023256
Name: P1, dtype: float64

In [15]:
df.groupby(['P1']).mean()

           B2         G        DO    Dz         P2         E
P1
20   0.020000  0.002000  5.000000  0.50  10.000000  0.058021
30   0.020000  0.002000  5.000000  0.50  10.000000  0.162934
40   0.020000  0.002000  5.000000  0.50  10.000000  0.317412
50   0.020000  0.002000  5.000000  0.50  10.000000  0.507779
60   0.020000  0.002000  5.000000  0.50  10.000000  0.729145
70   0.020000  0.002000  5.000000  0.50  10.000000  0.971387
80   0.020000  0.002000  5.000000  0.50  10.000000  1.233964
90   0.020000  0.002000  5.000000  0.50  10.000000  1.496756
100  0.019214  0.001957  5.257143  0.46  16.428571  1.757072

In [16]:
df[(df['P1']>20) & (df['P1']<=50)] #and

      B2      G  DO   Dz  P1  P2         E
27  0.02  0.002   5  0.5  30  10  0.162934
28  0.02  0.002   5  0.5  40  10  0.317412
29  0.02  0.002   5  0.5  50  10  0.507779

In [17]:
df[df['P1']==30]

      B2      G  DO   Dz  P1  P2         E
27  0.02  0.002   5  0.5  30  10  0.162934

In [18]:
df[(df['P1']<20) | (df['P1']>50)] #or

        B2       G  DO   Dz   P1  P2         E
0   0.0050  0.0020   5  0.5  100  10  0.794660
1   0.0075  0.0020   5  0.5  100  10  1.306685
2   0.0100  0.0020   5  0.5  100  10  1.565490
3   0.0150  0.0020   5  0.5  100  10  1.743379
4   0.0200  0.0020   5  0.5  100  10  1.789472
5   0.0250  0.0020   5  0.5  100  10  1.782381
6   0.0300  0.0020   5  0.5  100  10  1.746672
7   0.0200  0.0020   5  0.0  100  10  0.000000
8   0.0200  0.0020   5  0.1  100  10  0.346017
9   0.0200  0.0020   5  0.2  100  10  0.696188
10  0.0200  0.0020   5  0.3  100  10  1.052596
11  0.0200  0.0020   5  0.4  100  10  1.416784
12  0.0200  0.0020   5  0.5  100  10  1.789472
13  0.0200  0.0020   5  0.6  100  10  2.170602
14  0.0200  0.0005   5  0.5  100  10  0.233254
15  0.0200  0.0010   5  0.5  100  10  0.766124
16  0.0200  0.0015   5  0.5  100  10  1.300567
17  0.0200  0.0020   5  0.5  100  10  1.789472
18  0.0200  0.0025   5  0.5  100  10  2.199348
19  0.0200  0.0030   5  0.5  100  10  2.470851
20  0.0200  0.0020   4  0.5  100  10  2.121925
21  0.0200  0.0020   5  0.5  100  10  1.789472
22  0.0200  0.0020   6  0.5  100  10  1.460797
23  0.0200  0.0020   7  0.5  100  10  1.173408
24  0.0200  0.0020   8  0.5  100  10  0.932900
25  0.0200  0.0020   9  0.5  100  10  0.734811
30  0.0200  0.0020   5  0.5   60  10  0.729145
31  0.0200  0.0020   5  0.5   70  10  0.971387
32  0.0200  0.0020   5  0.5   80  10  1.233964
33  0.0200  0.0020   5  0.5   90  10  1.496756
34  0.0200  0.0020   5  0.5  100   5  1.308218
35  0.0200  0.0020   5  0.5  100  15  2.111918
36  0.0200  0.0020   5  0.5  100  20  2.367297
37  0.0200  0.0020   5  0.5  100  25  2.629242
38  0.0200  0.0020   5  0.5  100  30  2.835035
39  0.0200  0.0020   5  0.5  100  40  3.206427
40  0.0200  0.0020   5  0.5  100  50  3.589584
41  0.0200  0.0020   5  0.5  100  60  3.952773
42  0.0200  0.0020   5  0.5  100  70  4.323701

# Calculate correlation with the energy E and sort by importance

In [19]:
df.corr()['E'].abs().sort_values(ascending=False)

E     1.000000
P2    0.787279
P1    0.462497
Dz    0.358922
G     0.289597
DO    0.185260
B2    0.101498
Name: E, dtype: float64